################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC Day 01/obj
/.vs
/AoC Day 01/bin/Debug/net6.0
/AoC Day 02/obj
/Aoc Utilities/bin/Debug/net6.0
/Aoc Utilities/obj
/AoC Day 02/bin/Debug/net6.0
/AoC Day 03/bin/Debug/net6.0
/AoC Day 03/obj
/AoC Day 04/bin/Debug/net6.0
/AoC Day 04/obj
/AoC Day 05/bin/Debug/net6.0
/AoC Day 05/obj
/AoC Day 06/bin/Debug/net6.0
/AoC Day 06/obj
/AoC Day 07/bin/Debug/net6.0
/AoC Day 07/obj
/AoC Day 08/bin/Debug/net6.0
/AoC Day 08/obj
