################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC Day 01/obj
/.vs
/AoC Day 01/bin/Debug/net6.0
/AoC Day 02/obj
/Aoc Utilities/bin/Debug/net6.0
/Aoc Utilities/obj
